<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.arvalon.mytraining">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".gymdbactivities.GymDB" />
        <activity android:name=".workoutactivities.WorkoutActivity" />
        <activity android:name=".myprogrammactivities.MyProgrammActivity" />
        <activity android:name=".gymdbactivities.avaliableexercisesactivities.AvaliableExercicesActivities" />

        <activity
            android:name=".gymdbactivities.avaliableequipmentsactivities.EquipmentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".gymdbactivities.addequipmentactivities.AddEquipmentActivity" />
        <activity android:name=".gymdbactivities.Description" />
        <activity android:name=".gymdbactivities.addexerciseactivities.AddExerciseActivity" />
        <activity android:name=".gymdbactivities.addexerciseactivities.GetEquipments2Exercise" />
        <activity android:name=".gymdbactivities.addexerciseactivities.GetMuscles2Exercise"/>
    </application>

</manifest>